#footer {
  margin-top: -50px;
}
div.main {
  width: 100%;
  height: 600px;
  background: url("../img/login/6c20940c7b36612b0ed4d7b0a8a4aafe.jpg") no-repeat -190px 0;
  position: relative;
}
div.main .login-box {
  width: 385px;
  background: #fff;
  position: absolute;
  top: 80px;
  right: 200px;
  padding-top: 30px;
}
div.main .login-box .box-header {
  width: 306px;
  margin: 0 auto;
  margin-bottom: 40px;
  font-size: 18px;
  color: #999;
  line-height: 18px;
  text-align: center;
  padding: 0 10px;
}
div.main .login-box .box-header > span {
  cursor: pointer;
}
div.main .login-box .box-header i.box-pipe {
  display: inline-block;
  height: 20px;
  width: 2px;
  background: #ddd;
  margin: 0 50px;
}
div.main .login-box .box-checked {
  color: #333;
}
div.main .login-box .login-email {
  display: none;
}
div.main .login-box .login-content div.input-box {
  width: 300px;
  height: 40px;
  margin: 0 auto;
  margin-top: 20px;
  position: relative;
}
div.main .login-box .login-content div.input-box .inpt-account,
div.main .login-box .login-content div.input-box .inpt-pwd {
  width: 300px;
  height: 40px;
  line-height: 40px;
  border: 1px solid #E7E7E7;
  outline: 0;
  padding-left: 40px;
  font-size: 14px;
  color: #333;
  border-radius: 2px;
}
div.main .login-box .login-content div.input-box i.pwd-icon {
  position: absolute;
  top: 10px;
  left: 8px;
  width: 15px;
  height: 18px;
  background: url("../img/login/178e29b95f152a8aa6490f4f7032a8e8.png") -2px -1px;
}
div.main .login-box .login-content div.input-box i.phone-icon {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 13px;
  height: 18px;
  background: url("../img/login/49f4a785eb9ded4831d8cb0ede642b3e.png");
}
div.main .login-box .login-content div.input-box i.email-icon {
  position: absolute;
  top: 10px;
  left: 8px;
  width: 16px;
  height: 18px;
  background: url("../img/login/d6bd29fcf2096cb4c5d338e0fce13919.png") -2px -1px;
}
div.main .login-box .login-content div.input-box i.inpt-pipe {
  position: absolute;
  top: 7px;
  left: 33px;
  width: 1px;
  height: 24px;
  background: #E7E7E7;
}
div.main .login-box .login-content input::-webkit-input-placeholder {
  font-size: 14px;
  color: #BCBCBC;
}
div.main .login-box .login-content div.box-btn {
  width: 300px;
  height: 50px;
  font-size: 18px;
  color: #fff;
  background: #B39F78;
  margin: 40px auto;
  margin-bottom: 60px;
  line-height: 50px;
  text-align: center;
  border-radius: 2px;
  cursor: pointer;
}
div.main .login-box .login-content div.box-footer {
  width: 385px;
  height: 60px;
  background: #F4F2EE;
}
div.main .login-box .login-content div.box-footer .footer-content .links {
  padding: 20px 0 0 20px;
}
div.main .login-box .login-content div.box-footer .footer-content .links > a {
  display: inline-block;
  margin: 0 10px;
  background: url("../img/login/77f98b239f0d848eb54151c4ad6eab96.png") no-repeat;
}
div.main .login-box .login-content div.box-footer .footer-content .links a.wx {
  width: 24px;
  height: 19px;
  background-position: -10px -10px;
}
div.main .login-box .login-content div.box-footer .footer-content .links a.wx:hover {
  background-position: -10px -49px;
}
div.main .login-box .login-content div.box-footer .footer-content .links a.wy {
  width: 16px;
  height: 20px;
  background-position: -10px -88px;
}
div.main .login-box .login-content div.box-footer .footer-content .links a.wy:hover {
  background-position: -10px -168px;
}
div.main .login-box .login-content div.box-footer .footer-content .links a.wb {
  width: 24px;
  height: 20px;
  background-position: -10px -128px;
}
div.main .login-box .login-content div.box-footer .footer-content .links a.wb:hover {
  background-position: -10px -208px;
}
div.main .login-box .login-content div.box-footer .footer-content .links a.qq {
  width: 18px;
  height: 24px;
  background-position: -10px -248px;
}
div.main .login-box .login-content div.box-footer .footer-content .links a.qq:hover {
  background-position: -10px -292px;
}
div.main .login-box .login-content div.box-footer .footer-content .login-link {
  float: left;
  color: #999;
  margin-top: 25px;
}
div.main .login-box .login-content div.box-footer .footer-content .regist-phone {
  margin-left: 25px;
  margin-right: 5px;
}
div.main .login-box .login-content div.box-footer .footer-content .regist-email {
  margin-left: 50px;
  margin-right: 5px;
}
/*# sourceMappingURL=login.css.map */